// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$background-color: #F4F4F4;
$light-gray: #F4F4F4;
$logocol: #9A2C63;
$buttonhover: #9b3d96;
