/* TODO: design your flexbox layout with a sticky map */

.cards{
  width: 50vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  flex-grow: 1;
}

.main-container {
  display: flex;
}
