.card-tables {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  margin-bottom: 10px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  h2 {
    padding-bottom: 2px;
    border-bottom: 0.5px solid rgba(170, 166, 166, 0.61);
    font-size: 20px;
  }
  th {
    font-size: 14px;
  }
  td {
    font-size: 12px;
  }

}

.card-guest {
  width: 50%;

}

.card-host {
  width: 50%;
}


.card-listings {
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  h2 {
    border-bottom: 0.5px solid rgba(170, 166, 166, 0.61);
    font-size: 20px;
  }
  th {
    font-size: 14px;
  }
  td {
    font-size: 12px;
  }
}
