.heading {
  display: flex;
  justify-content: space-between;
  width: 90vw;
  margin: 5px auto;
}

.host_container {
  display: flex;
  justify-content: space-between;
  width: 90vw;
  margin: 5px auto;
  h1 {
    font-size: 20px;
  }
}

.cards-booking-host{
  width: 65%;
  margin-top: 15px;
  margin-bottom: 15px;

  .card-booking{
    margin-top: 15px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);

    .card-booking-status {
      margin: 2px 2px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      position: relative;
      .booking-status {
        width: 125px;
      }
      .booking-action {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        position: relative;
      }
    }

    .card-booking-details {
      margin: 2px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      position: relative;
      .booking-item {
        width: 35%;
        border-right: 0.5px solid rgba(170, 166, 166, 0.61);
      }
      .booking-customer {
        width: 60%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        position: relative;
      }
      .booking-title{
        font-size: 15px;
        color: grey;
      }
      .container-img {
        display: flex;
        align-items: center;
      }
      .avatar-bordered-large {
        width: 100px;
        border-radius: 50%;
      }
    }

  }
}
