<h1>Please proceed to completing your booking</h1>

<%= form_with model: @booking do |form| %>
  <%= form.text_field :title %>
  <%= form.text_area :body, size: "60x10" %>
  <%= form.submit %>
<% end %>
