<div class="container">

  <div class="text-center my-5">
    <h1>New reservation</h1>
    <p>For "<%= @car.title %>"</p>
  </div>

  <%= calendar(number_of_days: 4) do |date| %>
  <%= date %>
  <% end %>

  <%= render "form_bookings" %>

</div>
