<div class="card-car clickable">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="card-car-infos">
    <div>
      <h2>Title here</h2>
      <p>Brand | Model </p>
    </div>
    <h2 class="card-car-pricing">£99.99</h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-car-user avatar-bordered" />
  </div>
</div>
