<div class="container">

  <div class="card-user my-3">
    <h1>Welcome, <%= @user.first_name.capitalize %>!</h1>
  </div>

  <div class="card-tables">
    <div class="card-host m-3">
      <h2>Upcoming bookings</h2>
      <%= render "table_host", locals: {host_bookings: @host_bookings, cars: @cars} %>
    </div>
  </div>

  <div class="card-listings my-3 p-3">
    <h2>My listings</h2>
    <ul>
      <% @cars.where(user_id: @user.id).each do |car| %>
        <li><%= car.title %> | <%= link_to "Modify listing", edit_car_path(car)%> | "Delete listing"</li>
      <% end %>
    </ul>
  </div>



</div>
