.search-form {
  width: 30vw;

  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 25px;
}

.form-control{
  border-radius: 25px;
}

.btn-filter {
  border-radius: 25px;
}

.form-select {
  border-radius: 25px;
}

