<div class="home-container">

  <div class="search-field">
    <h2><%= @cars.length %> results</h2>
    <%= render "shared/searchForm" %>
  </div>

  <div class="cards">

    <% @cars.each do |car| %>
      <%= link_to car_path(car), :action => 'go', style: 'color:black; text-decoration:none' do %>
        <%= render "card_car", car: car %>
      <% end %>
    <% end %>
  </div>

</div>
