<h1>Detail page</h1>
<p> Brand: <%= @car.car_type %> </p>
Availability: <%= @car.availability %>
<br>
<%= link_to "Back to all listings", cars_path, class: "btn btn-primary" %>
<%= link_to "Book this car",  new_car_booking_path(@car), class: "btn btn-primary" %>

<div style="--maxWidth:1120px" class="plmw1e5 mq5rv0q dir dir-ltr"><div data-plugin-in-point-id="TITLE_DEFAULT" data-section-id="TITLE_DEFAULT" style="padding-top:24px"><section><div class="_b8stb0"><span class="_1n81at5"><h1 tabindex="-1" class="_fecoyn4" elementtiming="LCP-target">BMW 2002 - 1975 - A modern classic that's sure to turn heads!</h1>
<div></div>

<%# <img src="https://www.hperent.com/cars/bmw-2002-tii/main.jpg" %>

<div class="_dm2bj1"><span class="_1jvg42j"><span class="_12m9c11"><svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="presentation" focusable="false" style="display: block; height: 14px; width: 14px; fill: currentcolor;"></svg></span><span class="_17p6nbba" aria-hidden="true">4.95 ·</span><span class="_s65ijh7"><button aria-label="Rated 4.95 out of 5 from 20 reviews." type="button" class="l1j9v1wn bbkw4bl c1rxa9od dir dir-ltr">20 reviews</button></span></span><span class="_5oadh0" aria-hidden="true">·</span><span class="_1jvg42j"><span class="_12m9c11"><span class="_8tbpu3" aria-hidden="true">󰀃</span></span><span aria-hidden="false" class="_1mhorg9">Superhost</span></span><span class="_5oadh0" aria-hidden="true">·</span><span class="_1jvg42j"><button type="button" class="l1j9v1wn bbkw4bl c1rxa9od dir dir-ltr"><span class="_9xiloll" aria-hidden="false">London, England, United Kingdom</span></button></span></div><div class="_88xxct"><div class="_y4w03w"><div class="_1jdtwz4">

<%# </button></div><div><button aria-label="Add listing to a list" data-testid="pdp-save-button-unsaved" type="button" class="l1j9v1wn b38y20e cebj5md dir dir-ltr"><<span class="_14tkmhr"><svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="presentation" focusable="false" style="display: block; fill: none; height: 16px; width: 16px; stroke: currentcolor; stroke-width: 2; overflow: visible;"><path d="m16 28c7-4.733 14-10 14-17 0-1.792-.683-3.583-2.05-4.95-1.367-1.366-3.158-2.05-4.95-2.05-1.791 0-3.583.684-4.949 2.05l-2.051 2.051-2.05-2.051c-1.367-1.366-3.158-2.05-4.95-2.05-1.791 0-3.583.684-4.949 2.05-1.367 1.367-2.051 3.158-2.051 4.95 0 7 7 12.267 14 17z"></path></svg></span>Save</div></button></div></div></div></div></div></section></div></div> %>

<p>
The BMW 2002 is a car produced by the German car company between 1971 and 1975.
The first BMW 02 Series was designed in 1966 in response to the desire to have a car with sport features.
The body design was entrusted to Giovanni Michelotti, who re-proposes the forms introduced by Neue Klasse, while for the mechanical part the German company decides to equip the 02 with rear-wheel drive, independent wheel suspension and 4-speed manual transmission.
The BMW Serie 02 had a good commercial success, so the German company decided to improve the car by presenting the 2002 version with a 1990 cc engine, a car with a clearly sporty character.</p>


<div data-plugin-in-point-id="HERO_DEFAULT" data-section-id="HERO_DEFAULT" style="padding-top:24px"><div class="_88xxct"><div class="_z80d2i"><div class="_9xgknn"><div class="_168ht2w"><div class="_skzmvy"><div class="_5ltqju"><div class="_13sj9hk"><div class="_100fji8"><div class="c1d4ry4s dir dir-ltr"><button aria-label="Listing image 1, Show all photos" type="button" class="_1xh26pm2 l1j9v1wn dir dir-ltr"><div class="_1h6n1zu" style="display: inline-block; vertical-align: bottom; height: 100%; width: 100%; min-height: 1px;"><picture><source srcset="/Users/neilcairns/code/ndc13/get_a_wagon/app/assets/images/BMW-2002-Front-View-Feature-New-Size-e1674489699901.jpg
" media="(max-width: 743px)"></div>



<%# BMW 2002 tii
The BMW 2002 is a car produced by the German car company between 1971 and 1975.
The first BMW 02 Series was designed in 1966 in response to the desire to have a car with sport features.
The body design was entrusted to Giovanni Michelotti, who re-proposes the forms introduced by Neue Klasse, while for the mechanical part the German company decides to equip the 02 with rear-wheel drive, independent wheel suspension and 4-speed manual transmission.
The BMW Serie 02 had a good commercial success, so the German company decided to improve the car by presenting the 2002 version with a 1990 cc engine, a car with a clearly sporty character. %>



<%# Alfa Romeo Duetto Osso di Seppia

The Alfa Romeo Duetto is one of the most famous cars of the Italian manufacturer, produced from 1966 to 1993.
The "cuttlefish bone" version, launched on the market starting in 1966, is one of the most beautiful and popular models.
The very rounded shape of the front and rear, connected by convex sides, is reminiscent of a cuttlefish bone. The engine was that of the 1600 CC and 109 HP Alfa Romeo Giulia Sprint GT, equipped with two Weber double-barrel carburettors. %>


<%# AUSTIN HEALEY

Austin Healey 100/6 BN4
The Austin-Healey 100 is a car produced by BMC between 1953 and 1958 and sold under the Austin-Healey brand.
Born on the initiative of Donald Healey, it was presented at the 1952 London Motor Show, where the executives BMC fascinated by the car and agreed with Healey decided to produce it.
Several series were produced over the years, introducing improvements and new technologies.
The mechanics were inherited from the Austin A90, a large two-door sedan with a 4-cylinder in line of 2660 cm³ of 90 HP.
The first series (signed BN1) had the engine of the A90 with 3-speed manual gearbox and was produced from 1953 to 1956. The name 100 indicated the maximum speed that could be reached, 100 miles per hour (about 160 km/h).
In 1956 the 100-6 was presented, with a new 6-cylinder in-line engine of 2639 cm³ and 102 HP. %>

<%# Chevrolet Corvette C1
The Chevrolet Corvette C1 represents the first generation of sports cars produced by the American car manufacturer Chevrolet from 1953 to 1962.
To reduce production costs, it was decided to use standard mechanical components and the design of the chassis and suspension of previous vehicles. During the years of its production there were many changes and updates made to the initial design. The 1958 model introduced the four front headlights and the prominent grilles with numerous chrome plating. The interior and the instruments were updated, placing a tachometer directly in front of the driver. For the 1958 model, a 8000 rpm speedometer was used with 270 hp and 290 hp engines. %>

<%#
Daimler SP 250 Dart

Daimler SP 250 (known, unofficially, as ‘Dart’) is a car produced by Daimler Motor Company between 1959 and 1964. In the late fifties, Daimler was in financial crisis, as their limousine did not meet the expectations of the aristocratic public, and it needed a change of image. In light of the situation, the SP 250 Dart was born. It was a 2-seats with a fiberglass body, driven by a new 2458cm³ V8 engine. In a long list of technical implementations, the 4 disks break system and the body which was in plastic composite stand out. The new V8 engine, which provided an impressive (at the time) 140cv, despite having a traditional architecture, was compact and light because it is made entirely of polished aluminum. The SP250 has a luxurious and refined cockpit (the dashboard, seats, and doors panels are up-holstered in leather, while the floor was covered with fine wool. %>

<%#
Ferrari 246 GT Dino
The Ferrari Dine 246 was the first street model with a mid-engine built between 1969 and 1973. It was not just equipped with any motor, but with a 6 cylinder V motor with enormous power that stemmed from other sport engines designed by Dino Ferrari. The body was made of steel (not aluminum) by the Scaglietti body shop. The weight gained by the body did not effect performance thanks to the increase in power that came from the new 2500cc motor. Given the huge success the car got from enthusiasts, the car remained in production until 1973. Our car belongs to the series named ‘L’ which was built between 1969 and 1971 in only 357 units. %>


<%# Ford Mustang cabriolet
The Ford Mustang is one of the first American muscle cars. It has marked the history of world-wide motoring, and has been one best-selling products, so much so that it is still in production. The first model was introduced in 1964 in New York and it was clear right away that this car was destined to leave its mark in history. The base model the Mustang was designed around was the Falcon. Many technical details, however, were reviewed and improved, such as the introduction of the frame Torque Box, an innovative system that allowed to increase the stability and maneuverabil-ity of the car while reducing the production costs. The 1967 model was the first to undergo radical design improvements, with the introduction of a big 4.7 liter block V8 engine. %

>


Ford Victoria Crown
Ford Victoria is the symbol of '50s American motoring for the showy chrome, the bright colors in two tones and the wraparound windshield. The first model of the Victoria appeared in 1955: it had two doors and six seats and was equipped with rear-wheel drive and automatic transmission. For those who want the exclusivity of a truly massive American car of the mid-50s. The door opening is automated by an electrical device, and so it is devoid of handles.

Innocenti Mini 1001
The first Mini was produced by the British Motor Corporation from 1959 to 2000 and was later sold under license to several other automakers. The need for a small, affordable car, designed for the city, led to reduced fuel consumption being pushed by the BMC in the design of the mini, which can be considered a masterpiece of its kind. Everything was designed and implemented to make the car practical and accessible: the engine was installed in the front so that the transverse gearbox placed under the engine only needed a single oil pan, and independent suspension and 10-inch wheels restrict the invasiveness of the wheels inside the car. The beginnings of the Mini were not egregious: the car is hard to diffuse mainly due to its innovative lines and some small initial design flaws. Over the years, however, the little Mini became an extraordinary success. Innocenti produced the Mini, under BMC license, from 1965 to 1975. The customization of the Italian company concerned mainly the interior, which became far more refined and equipped.

Jaguar E-Type 5.3 OTS
The Jaguar E-Type is a car produced by Jaguar from 1961 to 1975. The car was definitely revolutionary for the times, both in regards to aesthetics and design. The car won the first place in the Top Sports Cars of the 60s according to the magazine Sports Car International 2004. The Jaguar was built in three different versions during its production, known as Series 1, Series 2, and Series 3. For the cars of the last Series, like our car, the changes were mostly mechanical. It was mounted with the new V-12 engine, the braking system was upgraded and it had power steering. It also adopted an exhaust system with four rear terminals.
